.row 
	margin-bottom  15px
.field	
	margin-bottom  15px

[class^="title-"] 
	margin-bottom 10px

.title-h1
	font-size 32px
	line-height 34px

.title-h2
	font-size 28px 
	line-height 30px

.title-h3
	font-size 24px
	line-height 26px

.clear
	clear both